// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

$grid-gutter-width: 30px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1360px,
  xxl: 1561px,
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1340px,
  xxl: 1560px,
) !default;

// Colors


$c-black: #12122D;
$c-green: #044853;
$c-blue: #4646B6;
$c-white: #ffffff;
$c-grey: #D1D1DE;
$c-grey-light: #B7B7C5;
$c-red: #FC391D;
$c-yellow: #e3b23c;
$c-purple: #500097;
$c-purple-pale: #4426A6;

.c {

  &-black {
    color: $c-black !important
  }

  &-white {
    color: $c-white !important
  }

  &-purple {
    color: $c-purple !important
  }

  &-red {
    color: $c-red !important
  }

  &-green {
    color: $c-green !important
  }

  &-yellow {
    color: $c-yellow !important
  }

  &-blue {
    color: $c-blue !important
  }

  &-grey {
    color: $c-grey !important
  }

}


.bg {

  &-black {
    background-color: $c-black !important
  }

  &-white {
    background-color: $c-white !important
  }

  &-purple {
    background-color: $c-purple !important
  }

  &-red {
    background-color: $c-red !important
  }

  &-green {
    background-color: $c-green !important
  }

  &-blue {
    background-color: $c-blue !important
  }

  &-yellow {
    background-color: $c-yellow !important
  }

  &-grey {
    background-color: $c-grey !important
  }

}

.fw {

  &-regular {
    font-weight: 400 !important;
  }

  &-medium{
    font-weight: 500 !important;
  }

  &-semi-bold {
    font-weight: 600 !important;
  }

  &-bold {
    font-weight: 700 !important;
  }
}




