.cmplz {

  &-cookiebanner {
    margin: 0 !important;
    width: 100% !important;
    bottom: 0 !important;
    top: initial !important;
    grid-column-gap: 50px !important;
    padding: 30px 200px !important;

    @include media-breakpoint-down(md) {
     z-index: 99999999 !important;
    }

    @include media-breakpoint-down(xxl) {
      padding: 50px !important;
    }

    @include media-breakpoint-down(md) {
      padding: 30px !important;
    }

    &-container {
      @include media-breakpoint-up(lg) {
        max-width: 1560px !important;
      }
    }


  }

  &-title {
    font-weight: 700 !important;
    justify-self: left !important;
    display: block !important;
    font-size: 24px !important;
  }

  &-link {
    font-size: 16px;
    line-height: 1.69;
    position: relative;
    transition: 0.3s;
    font-weight: 500;

    //&:after {
    //  content: '';
    //  display: block;
    //  position: absolute;
    //  width: 20px;
    //  height: 21px;
    //  top: 50%;
    //  transform: translateY(-50%) translateX(-50%);
    //  right: -35px;
    //  background-image: url('../../images/link-arrow-cookies.svg');
    //  background-repeat: no-repeat;
    //  background-position: 55% 50%;;
    //  background-size: 15px 15px;
    //  transition: 0.3s;
    //}

    &:hover {
      text-decoration: none;

      &:after {
        right: -25px;
      }
    }
  }

  &-header {
    grid-template-columns: 0 1fr 100px !important;
  }

  &-buttons {
    //padding-right: 40px;
  }

  &-btn {
    transition: .3s;
    position: relative;
    height: 55px !important;
    line-height: 20px !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    padding: 18px 40px !important;

    &:after {
      content: '';
      margin-left: 8px;
      margin-bottom: 2px;
      padding: 5px;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      transition: .3s;
      width: 16px;
      height: 13px;
      background-image: url('../../images/arrow-right.svg');
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 100%;
    }

    &:hover {
      background-color: $c-red;
      text-decoration: none;
      color: $c-white;

      &:after {
        transform: translateX(5px);
      }

    }
  }

  &-manage-consent {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    height: 45px !important;
  }

  &-always-active {
    display: none;
    color: $c-yellow !important;
  }

  &-category {
    background-color: transparent !important;

    @include media-breakpoint-up(md) {
      //display: inline-block;

    }

    &-title {
      font-size: 16px !important;
      font-weight: 700 !important;
    }

    &-header {
      padding: 5px 25px 10px 5px !important;
      display: flex !important;
      padding-left: 0 !important;
      //justify-content: space-between !important;

      @include media-breakpoint-down(md) {
        padding: 5px 5px 5px 5px !important;
        padding-left: 0 !important;
      }
    }
  }

  &-functional {
    .cmplz-banner-checkbox {
      order: 1;
    }

    .cmplz-category-title {
      order: 3;
    }
    .cmplz-category-header {
      @include media-breakpoint-up(md) {
        padding-left: 0 !important;
      }

      @include media-breakpoint-up(lg) {
        margin-right: 40px;

        &:last-child {
          margin-right: 0;
        }



      }
    }
  }

  &-icon {
    display: none;
  }

  &-description {
    display: none;
  }

  &-close {
    position: relative;

    svg {
      display: none;
    }

    &:after {
      content: '';
      position: absolute;
      right: 0;
      width: 18px;
      height: 18px;
      background-image: url('../../images/close-cookie.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      top: 0;
    }
  }

  &-manage-consent {
    background-color: $c-red !important;
    color: $c-white !important;

    &:after {
      display: none !important;
    }
  }

  &-documents {
    display: none;
  }

  &-links {
    display: none !important;
  }

  &-buttons {
    @include media-breakpoint-down(lg) {
      flex-direction: column !important;
    }
  }

  @media (min-width: 1024px) {

    &-categories {
      width: 25% !important;
      padding-left: 50px;


    }

    &-message {
      width: 65% !important;

      a {
        text-decoration: underline;
        font-weight: 700;
      }
    }
  }

  @media (min-width: 1200px) {
    &-categories {
      width: 45% !important;
      display: flex;
      padding-left: 20px;
    }

    &-message {
      width: 58% !important;
      padding-right: 30px;
    }
  }

  @media (min-width: 1400px) {
    &-categories {
      width: 38% !important;
      display: flex;
      padding-left: 20px;
    }

    &-message {
      width: 58% !important;
      padding-right: 30px;
    }
  }

  &-body {
    //display: block !important;
  }

  &:focus {
    outline: none !important;
  }

}

.cmplz-cookiebanner .cmplz-buttons .cmplz-btn.cmplz-deny,
.cmplz-cookiebanner .cmplz-buttons .cmplz-btn.cmplz-view-preferences,
.cmplz-cookiebanner .cmplz-buttons .cmplz-btn.cmplz-save-preferences {

  transition: .3s;

  &:hover {
    background-color: $c-red;
    border-color: $c-red;
    color: $c-white;
    text-decoration: none;
  }
}

.cmplz-cookiebanner .cmplz-buttons .cmplz-btn.cmplz-accept {

  transition: .3s;
  background-color: $c-red !important;
  border: 1px solid $c-red !important;

  &:hover {
    background-color: $c-red;
    border-color: $c-red;
    color: $c-white;
    text-decoration: none;
  }
}
.cmplz-category.cmplz-functional > summary > span > span.cmplz-category-title {
  color: $c-red !important;
}

#cmplz-statistics-optin {
  &:focus {
    outline: none !important;
  }
}
