.select2 {

  * {

    transition: 0.3s;

    &:hover, &:focus, &:active {
      outline: none;
      background-color: $c-white !important;
      border-color: $c-purple !important;
      //color: $c-black !important;
    }
  }

  //margin-bottom: 50px;

  &-container {
    width: 100% !important;
    z-index: 2;

    .select2 {

      &-selection {
        display: block;
        width: 100%;
        height: 56px;
        background: $c-white;
        font-size: 15px !important;
        font-weight: 500;
        line-height: 19px !important;
        color: $c-grey;
        border: 0 !important;

        @include media-breakpoint-up(md) {
          background: $c-white;
        }


        &__rendered {
          border: 1px solid $c-grey;
          border-radius: 0;
          color: $c-black !important;
          line-height: 19px !important;
        }

        &--single {
          height: auto !important;
        }

        .select2 {
          &-selection {
            &__rendered {
              display: block;
              padding: 16px 40px 16px 20px;
              border-radius: 0px;
              background: $c-white !important;
            }

            &__arrow {
              width: 12px !important;
              height: 8px !important;
              -webkit-appearance: none;
              background-image: url('../../images/chevron-form.svg');
              background-repeat: no-repeat;
              background-position: center;
              background-size: 12px;
              right: 22px !important;
              top: 50% !important;
              transition: 0.3s !important;
              transform: translateY(-50%) rotate(0deg);

              b {
                display: none;
              }
            }
          }
        }
      }
    }

    &--open {
      .select2 {
        &-selection {

          &__arrow {
            transform: translateY(-50%) rotate(180deg) !important;
          }

          &__rendered {
            border-color: $c-purple !important;
          }
        }
      }
    }

    &--focus {

    }

  }

  &-dropdown {
    border-color: $c-purple !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    overflow: hidden;
    margin-top: -10px !important;
  }

  &-results {

    &__options {
      @extend .custom-scrollbar;
    }

    &__option {

      //border-bottom: 1px solid $c-black;
      padding: 10px 20px !important;
      border-bottom: 1px solid transparent !important;
      font-size: 15px;
      margin-bottom: 0 !important;
      transition: 0.3s;
      color: $c-black;
      font-weight: 400;
      background-color: $c-white !important;

      [aria-disabled="true"] {
        display: none !important;
      }

      &:hover {
        color: $c-purple !important;
        //background-color: #F5F6F9 !important;
      }

      &:last-child {
        border-bottom: 0;
      }

      &--selected {
        background-color: #F5F6F9 !important;
      }

      &--selectable {

      }

      &--highlighted {
        background-color: #F5F6F9 !important;
        color: $c-black !important;
      }

      &--disabled {
        display: none !important;
      }

      &--group {
        margin-bottom: 0 !important;
      }

    }
  }
}

.select2-results__option[aria-disabled=true] {
  display: none !important;
}

