.button {
  display: inline-block;
  font-size: 15px;
  line-height: 19px;
  color: $c-white;
  background-color: $c-red;
  padding: 17px 20px;
  border-radius: 0;
  white-space: nowrap;
  font-weight: 400;
  border: 1px solid $c-red;
  transition: .3s;
  text-align: center;
  cursor: pointer;

  i {
    margin-left: 10px;
    display: inline-block;
    width: 16px;
    height: 13px;
    background-image: url('../images/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: .3s;
  }

    &:hover {
      color: $c-white;
      background-color: $c-purple;
      border-color: $c-purple;
      transition: .3s;
      text-decoration: none;

      i {
        transform: translateX(5px);
        transition: .3s
      }

  }

  &:disabled, &.disabled {
    pointer-events: none;
    background-color: $c-grey;
    cursor: not-allowed;
  }

  &--mid-wide {
    padding: 11px 15px;

    @include media-breakpoint-up(md) {
      min-width: 177px;
    }
  }

  &--wide {
    min-width: 235px;
  }


  &--purple {
    background-color: $c-purple;
    border: 1px solid $c-purple;

      &:hover {
        background-color: $c-red;
        border-color: $c-red;


    }

    i {
      background-image: url('../images/arrow-right.svg');
    }
  }

  &--outline {
    background-color: $c-white;
    color: $c-black;
    border: 1px solid $c-black;

      &:hover {
        color: $c-black;
        background-color: $c-white;
      }


    i {
      background-image: url('../images/arrow-right.svg');
    }
  }
}
