/* html styling */

html {
  scroll-behavior: smooth;
}

figcaption{
    padding-top: 6px;
    font-weight: 400;
    color: rgb(85, 85, 85);
}

.modal-dialog--medium {
    max-width: 740px;
}

.wpcf7-number{
        width: 100%;
    border-radius: 0;
    font-size: 15px;
    line-height: 19px;
    color: #12122d;
    resize: none;
    padding: 16px 8px 16px 20px;
    background-color: #fff !important;
    border: 1px solid #d1d1de;
    transition: .3s;
}

#menu-pagrindinis-meniu .sub-menu{
    background: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}

table th,
table td {
  padding: 16px;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

@media (max-width: 576px){
    table th,
    table td{
        padding: 8px;
    }
    table{
        font-size: 14px;
    }
}

table th:last-child,
table td:last-child {
  border-right: none;
}

table tr:last-child th,
table tr:last-child td {
  border-bottom: none;
}


/* GLOBAL*/
.alignleft {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1em; /* Space below the image */
    display: inline;
}

.modal-body .contact-form__thank-you,
.modal-body .contact-form__success-message{
    color: white;
}

#single-post-intro-container,
#the-content-container{
    max-width: 800px !important;
}

.alignright {
    float: right;
    margin-left: 1.5em;
    margin-bottom: 1em;
    display: inline;
}

/* Align Center */
.aligncenter {
    display: block;
    margin: 0 auto;
    text-align: center;
    clear: both;
}

#the-content-container h2{
    line-height: 0.6;
}

article .single-blog-post-table-heading{
    font-size: 32px;
    margin-top: 0px !important;
}

.toc-list{
    margin-bottom: 40px;
    padding-left: 0px;

}
.toc-list::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #c8c8c8cc;
  margin-top: 24px;
}

.button-dont-hover:hover,
.button-dont-hover:focus{
    background: #fc391d;
    border: solid 1px #fc391d;
}

.product-template-default .button-dont-hover{
    margin-top: 12px;
}

.toc-list .toc-item:before {
    content: "\2022"; /* Unicode bullet */
    position: relative;
    left: 0;
    top: 0;
    color: inherit; /* use the current text color */
    padding-right: 10px;
}

.toc-item{
    display: block;
    margin-bottom: 12px;
    font-size: 16px;
    position: relative;
}

.toc-item a{
    color: #500097;
    font-weight: 500;
}

.toc-h2 a{
    font-weight: 600;
}

.toc-h3{
    padding-left: 20px;
}

.toc-h4{
    padding-left: 40px;
}

.toc-h5{
    padding-left: 60px;
}

.toc-h5{
    padding-left: 80px;
}


.news-intro,
.paslaugos-intro,
.iranga-intro{
    height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  padding-bottom: 150px;
  padding-top: 250px;
  min-height: 600px;
}

.news-intro:before,
.paslaugos-intro:before,
.iranga-intro:before,
.single-post-intro:before{
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.25);
  opacity: 1;
}

.paslaugos-heading,
.iranga-heading,
.news-heading{
    font-size: 40px;
}

.news-under-heading-text,
.iranga-description,
.paslaugos-description{
    display: flex;
    justify-content: center;
}
.iranga-image,
.paslauga-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
    display: block;
}

.paslauga-card:hover .paslauga-more-btn, .iranga-card:hover .iranga-more-btn{
    background-color: #fc391d;
  border-color: #fc391d;
}

.paslauga-more-btn,
.iranga-more-btn{
    background-color: #500097;
  border: 1px solid #500097;
}

.paslauga-card-body,
.iranga-card-body{
    min-height: 1px;
}

.paslauga-image,
.paslauga-card-title,
.paslauga-card-text,{
    margin-bottom: 12px;
}

.iranga-image,
.iranga-card-title,
.iranga-card-text,{
    margin-bottom: 12px;
}

.paslauga-card-body,
.iranga-card-body{
    padding: 20px;
}

.fixed-ratio-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}

.post-image-overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    border-radius: 8px;
    pointer-events: none;
        overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
}

.news-post-wrapper:hover .post-image-overlay {
    opacity: 0;
}

.post-tag {
    z-index: 2;
    font-size: 0.75rem;
    top: -14px;
    left: 0px;
    background: #12122d;
}

.post-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #12122d;
}

.post-date {
    font-size: 0.875rem;
    color: #777;
}

.post-excerpt {
    position: relative;
    max-height: 3em;
    overflow: hidden;
    line-height: 1.5em;
    margin-bottom: 1rem;
    color: #555;
}

.post-excerpt::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1.5em;
    background: linear-gradient(to bottom, transparent, #fff);
}

.news-post-wrapper:hover .post-excerpt {
    color: #12122d;
}

.news-post-wrapper:hover .btn {
    background-color: #fc391d;
    border-color: #fc391d;
}

@media (max-width: 768px) {
    .post-item .col-md-3 {
        margin-bottom: 1rem;
    }
    .post-title {
        font-size: 1.1rem;
    }
    .post-excerpt {
        max-height: 4.5em;
    }

}

@media (max-width: 1359.98px){
        #the-content-container h2{
        line-height: 1.0;
        }
}

.news-more-btn{
    color: white;
    border-radius: 0px;
    padding: 8px 22px;
}

/* Smooth Fade-In Animation for Posts */
.fade-in-post {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-out;
}
.fade-in-post.visible {
    opacity: 1;
    transform: translateY(0);
}


/* SINGLE POST */
.single-post-intro{
    padding-bottom: 200px;
  padding-top: 250px;
    min-height: 600px;
}

.single-post article figure{
    width: 100% !important;
}

.single-post article h2,
.single-post article h3,
.single-post article h4{
    margin-top: 20px;
}

.single-post-intro{
    position: relative;
}

.single-post-intro .container{
    position: relative;
}

.single-post-heading{
    font-size: 40px;
    margin-bottom: 4px;
}

.single-post-tag{
    z-index: 2;
  font-size: 0.75rem;
  background: #12122d;
    top: -34px;
}

.single-post-date{
    margin-bottom: 16px;
}

#select2-taxSelect-result-270y-parama{
    display: none;
}



/* Main Page Blog Section */
.blog-news__button{
    color: white;
    border-radius: 0;
    padding: 8px 18px;
}

.blog-news__image{
    object-fit: cover;
    object-position: center;
    width: 100%;
    aspect-ratio: 100 / 70;
}

.blog-news__excerpt{
    max-height: 6rem;
}

.blog-news__image-wrapper{
    margin-bottom: 12px;
    position: relative
}

.blog-news__heading{
    margin-bottom: 0px;
}

.blog-news__image-wrapper .post-image-overlay{
    margin: 0;
}

.blog-news__item .post-tag{
    left: -15px;
}

.blog-news__col_container:hover .post-image-overlay {
    opacity: 0;
}

.blog-news__top-row-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.blog-news__more-button-container{
    text-align: right;
}



.contact-form__column input:autofill.wpcf7-not-valid, .contact-form__column input:autofill:active.wpcf7-not-valid, .contact-form__column input:autofill:focus.wpcf7-not-valid, .contact-form__column input:autofill:hover.wpcf7-not-valid, .contact-form__column input[type="email"].wpcf7-not-valid, .contact-form__column input[type="tel"].wpcf7-not-valid, .contact-form__column input[type="text"].wpcf7-not-valid, .contact-form__column textarea.wpcf7-not-valid {
    border: 2px solid rgb(252, 57, 29) !important;
}

.contact-form__acceptance .wpcf7-not-valid span::before{
    border-width: 2px;
}

.custom-error{
    color: rgb(252, 57, 29);
    padding-top: 10px;
}

.wpcf7-response-output{
    display: none;
}

/* Main page */

.home-intro__text{
    font-size: 20px;
    line-height: 30px
}
@media (max-width: 768px) {
    .home-intro__text{
        font-size: 18px;
        line-height: 24px
    }
}

@media (min-width: 1360px) {
  .home-intro__heading{
    max-width: 1000px;
        font-size: 56px;
  }
}

.about-cards__heading{
    margin: 0;
}

.saules-elektriniu-projektavimas .auto-intro:before{
    background-color: rgba(0,0,0,.35);
}