.about {
  &-intro {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 200px;
    padding-top: 250px;
    min-height: 600px;

    @include media-breakpoint-down(md) {
      padding-top: 175px;
      padding-bottom: 175px;
      max-height: none;
      min-height: 100vh;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.25);
      opacity: 1;
    }

    &__heading {
      @include media-breakpoint-down(md) {
        font-size: 40px;
      }
    }

    &__text {
      line-height: 26px;
    }
  }

  &-info {
    height: 100%;
    width: 100%;
    background-image: url("../../images/system-pattern.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    @include media-breakpoint-down(md) {
      background-image: none;
    }

    &__slider {
      font-size: 20px;
      line-height: 26px;
      font-weight: 700;

      &-item {
        height: 23px;
        width: 100%;
        border: 1px solid $c-grey;
        padding: 7px;
        background-color: $c-white;

        span {
          height: 7px;
          display: block;
        }
      }
    }
  }

  &-cards {
    .slick {
      &-list {
        margin-left: -8px;
        margin-right: -8px;
        @include media-breakpoint-up(xl) {
          margin-left: -10px;
          margin-right: -10px;
        }
      }

      &-slide {
        padding-left: 8px;
        padding-right: 8px;
        -webkit-backface-visibility: hidden;
        height: 100%;
        @include media-breakpoint-up(xl) {
          padding-left: 10px;
          padding-right: 10px;
        }
      }

      &-arrow {
        position: absolute;
        background-image: url("../../images/slider-arrow-white.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: .3s;
        vertical-align: middle;
        width: 60px;
        height: 25px;
        font-size: 0;
        margin-bottom: 0;
        right: -90px;
        top: -60px;

        @include media-breakpoint-down(sm) {
          bottom: -45px;
          top: auto;
          right: 50% !important;
        }


        &.slick {
          &-prev {
            transform: rotate(180deg);
            right: 90px;

            @include media-breakpoint-down(sm) {
              transform: translateX(-10px) rotate(180deg);
            }
          }

          &-next {
            right: 0px;
            @include media-breakpoint-down(sm) {
              transform: translateX(100%);
            }
          }
        }
      }

    }
  }

  &-video {
    position: relative;

    video {
      display: block;

    }

    &--wrapper {
      position: absolute;
      text-decoration: none;
      width: 100%;
      height: 100%;
      left: 0;
      bottom: -1px;
      background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 60%);
      transition: 0.3s;
      display: flex;
      flex-direction: column;
      justify-content: end;
      opacity: 1;
      padding: 30px;


      &-heading {
        @include media-breakpoint-up(md) {
          min-height: 52px;
        }
      }

      img {
        max-width: 59px;
        @include media-breakpoint-up(lg) {
          max-width: 117px;
        }
      }
    }

    &--play {
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: transparent;
      border: 0;

      &:hover {
        cursor: pointer;
      }

      @include media-breakpoint-down(md) {
        svg {
          max-width: 30px;
        }
      }
    }

  }


  &-card {

    &-card {
      position: relative;
    }

    &__image {
      position: relative;

      img {
        width: 100%;
        @include media-breakpoint-down(md) {
          min-width: 80px;
        }
      }
    }

    &__text {
      position: absolute;
      text-decoration: none;
      width: 100%;
      height: 100%;
      left: 0;
      bottom: -1px;
      background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 60%);
      transition: 0.3s;
      display: flex;
      flex-direction: column;
      justify-content: end;
      opacity: 1;
      padding: 10px;

      @include media-breakpoint-down(md) {
        padding: 30px;
      }

      @include media-breakpoint-up(lg) {
        padding: 30px;
      }

      &-heading {
        @include media-breakpoint-up(md) {
          min-height: 52px;
        }
      }

      img {
        max-width: 59px;
        @include media-breakpoint-up(lg) {
          max-width: 117px;
        }
      }
    }
  }

  &-partners {
    &__slider {
      img {
        margin: 0 auto;
      }

      .slick {
        &-dots {
          display: flex;
          justify-content: center;
          list-style-type: none;
          padding: 0;
          margin-top: 60px;
          margin-bottom: 0;
          position: relative;
          z-index: 5;
          align-items: center;
          line-height: 12px;

          @include media-breakpoint-down(sm) {
            display: none !important;
          }

          li {
            margin: 0 15px;
            border: 1px solid transparent;
            transition: 0.3s;
            border-radius: 100%;
            @extend .remove-outline ;
            @include media-breakpoint-up(md) {
              margin: 0 15px;
            }

            button {
              display: block;
              width: 7px;
              height: 7px;
              padding: 3px;
              border-radius: 100%;
              background-color: $c-purple-pale;
              font-size: 0;
              transition: 0.3s;
              pointer-events: all;
              border: 7px solid $c-white;

              &:focus, &:active, &:hover {
                border: 7px solid $c-white;
              }
            }

            &.slick-active {
              button {
                background-color: $c-purple-pale;
                position: relative;
                border-color: $c-white;
              }

              border-color: $c-purple;
              border-radius: 100%;
            }
          }
        }

        &-arrow {
          position: absolute;
          background-image: url("../../images/slider-arrow.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          transition: .3s;
          vertical-align: middle;
          width: 60px;
          height: 25px;
          font-size: 0;
          margin-bottom: 0;
          right: -90px;
          top: -110px;
          filter: grayscale(0);

          @include media-breakpoint-down(sm) {
            bottom: -45px;
            top: auto;
            right: 50% !important;
          }

          &.slick {
            &-prev {
              transform: rotate(180deg);
              right: 90px;

              @include media-breakpoint-down(sm) {
                transform: translateX(-10px) rotate(180deg);
              }
            }

            &-next {
              right: 0px;
              @include media-breakpoint-down(sm) {
                transform: translateX(100%);
              }
            }
          }
        }
      }
    }
  }


  &-reviews {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 160px;
    padding-top: 120px;
    min-height: 400px;

    &__review {
      font-size: 30px;
      line-height: 39px;
      position: relative;

      &-text {
        position: relative;
        z-index: 2;
      }

      &-quotes {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }

    &__name {
      font-size: 18px;
      line-height: 23px;
      font-weight: 700;

      span {
        font-weight: 400;
      }
    }

    &__slider {
      img {
        margin: 0 auto;
      }

      &-slide {
        position: relative;

        &:before {
          background-image: url('../../images/arrow-right.svg');
        }
      }

      .slick {
        &-dots {
          display: flex;
          justify-content: center;
          list-style-type: none;
          padding: 0;
          margin-top: 75px;
          margin-bottom: 0;
          position: relative;
          z-index: 5;
          align-items: center;
          line-height: 12px;

          @include media-breakpoint-down(sm) {
            display: none !important;
          }


          li {
            margin: 0 15px;
            border: 1px solid transparent;
            transition: 0.3s;
            border-radius: 100%;
            @extend .remove-outline ;
            @include media-breakpoint-up(md) {
              margin: 0 15px;
            }

            button {
              display: block;
              width: 7px;
              height: 7px;
              padding: 3px;
              border-radius: 100%;
              background-color: transparent;
              font-size: 0;
              transition: 0.3s;
              pointer-events: all;
              border: 7px solid transparent;

              position: relative;

              &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: $c-purple;
                top: 0;
                left: 0;
                border-radius: 100%;
              }

              &:focus, &:active, &:hover {
                border: 7px solid transparent;
              }
            }

            &.slick-active {
              button {
                background-color: transparent;
                position: relative;
                border-color: transparent;
              }

              border-color: $c-purple;
              border-radius: 100%;
            }
          }
        }

        &-arrow {
          position: absolute;
          background-image: url("../../images/slider-arrow.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          transition: .3s;
          vertical-align: middle;
          width: 60px;
          height: 25px;
          font-size: 0;
          margin-bottom: 0;
          right: -90px;
          top: -110px;
          filter: grayscale(0);

          @include media-breakpoint-down(sm) {
            bottom: -45px;
            top: auto;
            right: 50% !important;
          }

          &.slick {
            &-prev {
              transform: rotate(180deg);
              right: 90px;

              @include media-breakpoint-down(sm) {
                transform: translateX(-10px) rotate(180deg);
              }
            }

            &-next {
              right: 0px;
              @include media-breakpoint-down(sm) {
                transform: translateX(100%);
              }
            }
          }
        }
      }
    }
  }

  &-logos {
    &__slider {
      .slick {
        &-slide {
          & > div {
            height: auto !important;
          }
        }

        &-list {
          //@include media-breakpoint-down(sm) {
          //  padding-right: 40%;
          //}
        }

        &-dots {
          display: flex;
          justify-content: center;
          list-style-type: none;
          padding: 0;
          margin-top: 60px;
          margin-bottom: 0;
          position: relative;
          z-index: 5;
          align-items: center;
          line-height: 12px;

          @include media-breakpoint-down(sm) {
            display: none !important;
          }

          li {
            margin: 0 15px;
            border: 1px solid transparent;
            transition: 0.3s;
            border-radius: 100%;
            @extend .remove-outline ;
            @include media-breakpoint-up(md) {
              margin: 0 15px;
            }

            button {
              display: block;
              width: 7px;
              height: 7px;
              padding: 3px;
              border-radius: 100%;
              background-color: $c-purple-pale;
              font-size: 0;
              transition: 0.3s;
              pointer-events: all;
              border: 7px solid $c-white;

              &:focus, &:active, &:hover {
                border: 7px solid $c-white;
              }
            }

            &.slick-active {
              button {
                background-color: $c-purple-pale;
                position: relative;
                border-color: $c-white;
              }

              border-color: $c-purple;
              border-radius: 100%;
            }
          }
        }

        &-arrow {
          position: absolute;
          background-image: url("../../images/slider-arrow.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          transition: .3s;
          vertical-align: middle;
          width: 60px;
          height: 25px;
          font-size: 0;
          margin-bottom: 0;
          right: -90px;
          top: -110px;
          filter: grayscale(0);

          @include media-breakpoint-down(lg) {
            top: -80px;
          }

          @include media-breakpoint-down(sm) {
            bottom: -45px;
            top: auto;
            right: 50% !important;
          }


          &.slick {
            &-prev {
              transform: rotate(180deg);
              right: 90px;

              @include media-breakpoint-down(sm) {
                transform: translateX(-10px) rotate(180deg);
              }
            }

            &-next {
              right: 0px;
              @include media-breakpoint-down(sm) {
                transform: translateX(100%);
              }
            }
          }
        }
      }

      &-slide {
        position: relative;

        //&--power {
        //  position: absolute;
        //  top: 42px;
        //  right: 70px;
        //  background: $c-purple;
        //  padding: 9px 15px;
        //  color: $c-white;
        //  font-size: 24px;
        //  font-weight: 600;
        //  min-width: 140px;
        //
        //  @include media-breakpoint-down(lg) {
        //    top: 32px;
        //    right: 35px;
        //  }
        //
        //  @include media-breakpoint-down(md) {
        //    top: 22px;
        //    right: 15px;
        //  }
        //}
        //
        //&:after {
        //  content: "";
        //  position: absolute;
        //  top: 78px;
        //  right: 170px;
        //  width: 0;
        //  height: 0;
        //  border-left: 14px solid transparent;
        //  border-right: 14px solid transparent;
        //  border-top: 24px solid $c-purple;
        //
        //  @include media-breakpoint-down(lg) {
        //    top: 68px;
        //    right: 135px;
        //  }
        //
        //  @include media-breakpoint-down(md) {
        //    top: 58px;
        //    right: 100px;
        //  }
        //}


      }

    }
  }

}
