.auto {
  &-intro {
    //height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 250px;
    //min-height: 770px;
    padding-bottom: 200px;
    position: relative;
    height: 100vh;
    max-height: 950px;

    @include media-breakpoint-down(md) {
      padding-bottom: 150px;
      padding-top: 150px;
      height: 100%;
      min-height: 100vh;

    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.25);
      opacity: 1;
    }

    &__text {
      line-height: 25px;
    }
  }

  &-docks {
    &__item {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 20px #00000029;

      &-img {
        img {
          width: 100%;
        }
      }

      ul {
        padding: 0 0 0 30px;
        margin: 0;

        @include media-breakpoint-down(md) {
          padding: 0 0 0 25px;

        }

        li {
          margin-bottom: 10px;
        }
      }
    }
  }

  &-donation {
    background-color: #EFEEF8;

    &__img {
      img {
        width: 100%;
      }
    }

    &__wrapper {
      position: relative;
      background-color: #EFEEF8;


      //&:after {
      //  content: '';
      //  position: absolute;
      //  left: -26%;
      //  top: 50%;
      //  transform: translateY(-2px);
      //  width: 8px;
      //  height: 8px;
      //  border-radius: 100%;
      //  border: 2px solid $c-black;
      //  background: transparent;
      //
      //  @include media-breakpoint-down(md) {
      //    display: none;
      //  }
      //}


      //&--right {
      //  &:after {
      //    right: -26%;
      //    left: auto;
      //    transform: translateY(-50%);
      //    z-index: 2;
      //  }
      //}
    }

    &__heading {
      position: relative;
      background-color: #EFEEF8;
      z-index: 3;
      padding-left: 20px;
      padding-right: 20px;
      @include media-breakpoint-up(lg) {
        //display: inline-flex;
        display: inline-block;
      }

      &-icon {
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translateY(50%);
        width: calc(50% + 130px);
        height: 2px;
        background: $c-black;

        .dot {
          display: block;
          position: relative;

          &:after {
            content: '';
            position: absolute;
            right: 100%;
            top: 50%;
            transform: translateY(-3px);
            width: 8px;
            height: 8px;
            border-radius: 100%;
            border: 2px solid $c-black;
            background: transparent;

            @include media-breakpoint-down(md) {
              display: none;
            }
          }
        }

        @include media-breakpoint-down(md) {
          display: none;
        }

        &--right {
          left: 50%;
          right: auto;
          transform: translateY(-50%);
          z-index: 2;

          .dot {
            &:after {
              right: auto;
              left: 100%;
            }
          }
        }
      }
    }
  }

  &-financing {
    &__wrapper {
      @include media-breakpoint-up(xl) {
        max-width: 630px;
      }
    }

    &__img {
      img {
        width: 100%;
      }
    }

    &__text {
      ul {
        padding: 0 0 0 20px;
        margin: 0;

        li {
          margin-bottom: 20px;
          line-height: 22px;
        }
      }
    }
  }

  &-calculator {
    padding: 100px;
    box-shadow: 0px 3px 20px #00000029;

    @include media-breakpoint-down(lg) {
      padding: 50px;
    }

    @include media-breakpoint-down(md) {
      padding: 30px;
    }
  }
}
