.home {
  &-intro {
    //height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    //min-height: 770px;
    padding-bottom: 200px;
    position: relative;
    height: 100vh;
    max-height: 950px;

    @include media-breakpoint-down(md) {
      padding-top: 150px;
      padding-bottom: 150px;
      height: 100%;
      min-height: 100vh;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.25);
      opacity: 1;
    }

    &__heading {
      color: $c-white;

      @include media-breakpoint-up(xl) {
        max-width: 650px;
      }
    }

    &__text {

      @include media-breakpoint-up(xl) {
        max-width: 650px;
      }
    }
  }

  &-banner {
    .slick {

      &-track {
        display: flex;
      }

      &-slide {
        height: inherit;
        @extend .remove-outline ;
        -webkit-backface-visibility: hidden;

        & > div {
          height: 100%;
        }
      }
    }
  }

  &-slider {
    position: relative;
    height: 100%;

    &__dots {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      left: 0;

      @include media-breakpoint-down(md) {
        top: auto;
        transform: none;
        bottom: 50px;
      }

      .slick-dots {
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        //margin-top: -35px;
        z-index: 3;
        align-items: center;
        line-height: 12px;
        margin-bottom: 0;
        right: 0;
        top: -53px;
        bottom: 0;
        margin-top: 15px;

        @include media-breakpoint-up(md) {
          margin-top: 0;
          top: 50%;
          transform: translateY(-50%);
          flex-direction: column;
          right: 20px;
          position: absolute;
        }

        li {
          margin: 0 10px;
          border: 1px solid transparent;
          transition: 0.3s;
          padding: 6px;
          border-radius: 100%;
          @extend .remove-outline ;
          @include media-breakpoint-up(md) {
            margin: 10px 0;
          }

          button {
            display: block;
            width: 7px;
            height: 7px;
            padding: 0;
            border-radius: 100%;
            background-color: rgba(255, 255, 255, 1);
            font-size: 0;
            transition: 0.3s;
            pointer-events: all;
            border: none;

            &:focus, &:active, &:hover {
              border: none;
            }
          }

          &.slick-active {
            button {
              background-color: $c-white;
              position: relative;

            }

            border: 1px solid $c-white;
            border-radius: 100%;
          }
        }
      }
    }
  }

  &-numbers {
    &__heading {

    }

    &__item {
      &-number {
        font-size: 80px;


        @include media-breakpoint-down(xxl) {
          font-size: 62px;
        }


        line-height: 102px;
        color: $c-purple;
        font-weight: 700;
        text-transform: uppercase;

        @include media-breakpoint-down(md) {
          font-size: 40px;
          line-height: 77px;
        }
      }

      &-text {
        max-width: 120px;


        @include media-breakpoint-down(md) {
          font-size: 15px;
        }
      }
    }
  }

  &-info {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 440px;
    padding-top: 50px;

    @include media-breakpoint-up(lg) {
      padding-bottom: 230px;
      padding-top: 0;

    }

    &__wrapper {
      @include media-breakpoint-up(lg) {
        margin-top: -30px;
      }
    }
  }

  &-donation {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    &__link {
      margin-right: 15px;
      margin-left: 15px;
      margin-bottom: 20px;
    }
  }
}
